<template id="collapsible-menu">
  <li>
    <div class="is-flex">
      <span style="flex: 1;">
        <slot name="title"></slot>
      </span>
      <span class="icon is-medium" style="cursor: pointer;" data-element="icon-button">
        <template data-element="opened">
          <i class="fas fa-chevron-up"></i>
        </template>
        <template data-element="closed">
          <i class="fas fa-chevron-down"></i>
        </template>
      </span>
    </div>
    <ul style="overflow-y: hidden;" data-element="inner">
      <slot></slot>
    </ul>
  </li>
</template>
