<template id="single-lecture">
  <div class="panel-heading">
    <a class="has-text-white is-capitalized is-family-monospace" data-element="title-link"></a>
    <div class="is-pulled-right">
      <button class="delete" data-element="delete-button"></button>
    </div>
  </div>
  <template data-list="slides">
    <div class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-file-powerpoint"></i>
      </span>
    </div>
  </template>
  <template data-list="recordings">
    <div class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-file-video"></i>
      </span>
    </div>
  </template>
  <template data-list="code">
    <div class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-file-code"></i>
      </span>
    </div>
  </template>
</template>
