html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #111111;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.main-menu {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.main-menu-header {
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 25px;
}

.main-menu-list {
    text-align: center;
    list-style: none;
    padding-left: 0;
}